body {
    background-color: #eee;
}

.bookContainer {
    outline: 1px solid #aaa;
    width: 350px;
    height: 130px;
    background-color: #fff;
    float: left;
    margin: 5px;
}

.bookContainer img {
    float: left;
    margin: 10px;
}

.bookContainer ul {
    list-style-type: none;
    margin-bottom: 0;
}

.bookContainer button {
    margin: 10px;
}

#addBook {
    width: 550px;
    margin: 15px auto;
    background-color: white;
    padding: 15px;
}

#addBook label {
    display: block;
    flex-basis: 20%;
}

#addBook label, #addBook input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

#addBook button {
    display: block;
    margin: 5px auto;
    padding: 10px 20px;
    cursor: pointer;
}

#addBook div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#addBook label {
    display: block;
}